* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  color: gray;
  background-color: #f2f2f2;
}

main {
  display: flex;
  justify-content: center;
}

.boardbox {
  margin-top: 40px;
  margin-right: 6%;
  margin-left: 6%;
  width: 454px;
  height: 454px;
  background-color: #910000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#boardbox2 {
  background-color: #00912b;
}

.board {
  margin: 0px;
  width: 450px;
  height: 450px;
  background-color: white;
}

.board div {
  background-color: #4e4e52;
  border: 1px solid #910000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#board2 div {
  border: 1px solid #00912b;
}
